@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">Rent Car Management</h1>

   

   

    <div class="d-flex justify-content-center mb-3">
        <a href="/Cars/index" class="mr-2">
            <input type="button" class="btn btn-primary btn-lg" value="Cars">
        </a>
    </div>

    <div class="d-flex justify-content-center mb-3">
        
        <a href="/Rentals/index">
            <input type="button" class="btn btn-primary btn-lg" value="Rent">
        </a>
    </div>

   @*  
    <div class="d-flex justify-content-center mb-3">

        <a href="/Rentals/index">
            <input type="button" class="btn btn-primary btn-lg" value="Discounts">
        </a>
    </div> *@
   



</div>

